@charset "utf-8";

*{margin:0; padding:0;}
html, body{margin:0;}
div,h1,h2,h3,h4,h5,p{margin:0;}
a{text-decoration: none;}
a:visited{color:#000;}
ul li, ol li{list-style:none;}
/* :focus{outline: none;} */

.top_ad{

    width: 100%;
    height: 40px;
    background-color: #002310;
    color:#fff;
    font-size:14px;
    text-align: center;
    line-height: 40px;

}

header{

    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    background-color: transparent;
    position: fixed;
    top:40px;
    z-index:10000;
    background-color: rgba(255,192,0,.8);

}

#binggrae_header{

  display: flex;
  align-items: center;

}

header.active{

  top:0px;
  background-color: rgba(2,101,4,.9);

}

header.active .binggrae_category ul{

  color:#eaeaea;

}

header.active .binggrae_category ul em{

  background-color: #eaeaea;

}

header.active .binggrae_login a{

  color:#eaeaea;

}

.binggrae_logo{

 width:120px;
 height:100%;
 margin-left:30px;
 display:flex;
 align-items: center;

}

.binggrae_logo img{

   width:100%;
   height:30px;


}

.mobile_menu{

  position: absolute;
  right:30px;
  display:none;
  margin:0 auto;
  cursor: pointer;


}

.mobile_menu span{

  background-color: #333;
  width: 30px;
  height: 3px;
  text-align: center;
  line-height: 3px;
  display: block;
  margin: 5px;
  cursor: pointer;

}

.binggrae_category{

    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:20%;
    background-color: transparent;

}

.binggrae_category ul{

    font-size: 15px;
    color:#333;
    cursor: default;
    padding:20px;

}

.binggrae_category ul em{

  position:relative;
  bottom:0;
  display:block;
  width:0px;
}

.binggrae_category ul:hover{

    color:#f00;

}

.binggrae_category ul:hover em{

  width:100%;
  height: 1px;
  transition: 0.3s;
  background-color: #f00;

}

nav{ 

  width:100%;
  height:0px;
  display: flex;
  justify-content:center;
  opacity:0;
  background-color: #f4f4f4;
  position:relative;
  z-index:10;

}

nav.active{

  width:100%;
  height:auto;
  padding: 30px 0px;
  transition: 0.8s;
  opacity:1;

}


nav ul{

  padding: 0 20px;
  display: none;

}

nav.active ul{

  display: flex;
  flex-direction: column;

}

.mobile_category{

  display: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 3px 0px;

}


nav ul li{

  margin: 7px;

}

nav ul li a{

  font-size: 13px;
  font-weight: 300;
  color:#333;
  cursor: pointer;

}

nav ul li a:hover{

  color:#eaeaea;

}


.binggrae_main{

    width: 100%;
    height: 800px;

}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .binggrae_pagination{

    color:#fff!important;
    padding:20px 0px!important;


  }

  .binggrae_pagination span:first-child{

    font-weight:bold!important;
  }


#binggrae_searchCover{

  width:100%;
  height:200px;
  overflow: hidden;
  padding: 100px 0px 0px;
  margin:0 auto;
}

.binggrae_input{

  display: flex;
  align-items: center;
  justify-content: center;

}

.binggrae_input #binggrae_search{

  min-width:300px;
  width: calc(100% - 700px);
  height:70px;
  border:1px solid green;
  border-radius: 50px;
  color:#ccc;
  text-align: center;

}

.binggrae_input .binggrae_Btn{

  width:120px;
  height:60px;
  text-align: center;
  border:none;
  /*clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);*/
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: green;
  color:#eaeaea;
  font-size:14px;
  margin-left:4px;
  
}

.binggrae_input .binggrae_Btn:hover{

  background-color: #eaeaea;
  color:green;

}


.binggrae_textCover{

  max-width:800px;
  min-width:400px;
  width:100%;
  height:100px;
  margin:0 auto;
  margin-top:10px;

}


.binggrae_textCover .binggrae_text{

  margin:0 auto;
  display: flex;
  justify-content: center;
  float:left;
  padding: 6px;

}

.binggrae_textCover .binggrae_text p{

  width:40px;
  height:40px;
  border-radius: 50%;
  border:1px solid #ccc;
  white-space: nowrap;
  text-align: center;
  line-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  color:#ccc;
  font-size: 11px;
  float:left;


}

.binggrae_textCover .binggrae_text span{

   color:#ccc;
   width:8px;
   height:8px;
   position: relative;
   top:-3px;
   cursor: pointer;

}

.binggrae_best{

  width:100%;
  padding: 0px 0px 50px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.binggreae_bestWrap{

  /* width:100%; */
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap:wrap;


}


.binggreae_bestWrap .binggrae_List{

  width:230px;
  height:300px;
  margin: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.best_sales{

  color:#fff;
  background-color:green;
  position: relative;
  left:0;
  top:0;
  padding: 7px;
  font-size: 11px;
  z-index:1;
  border-top-left-radius:20px;
}

.binggreae_bestWrap .binggrae_List ul{

    width:100%;
    height:100%;
    float:left;

}

.binggreae_bestWrap .binggrae_List ul li{

   float:left;
   overflow: hidden;
  
}


.binggreae_bestWrap .binggrae_List ul li img{

    width:100%;
    height:250px;

}

.binggreae_bestWrap .binggrae_List ul li img:hover{

  transform: scale(1.05);
  transition: 0.3s;

}
.binggreae_bestWrap .binggrae_List ul li a{

  display: block;

}

.binggreae_bestWrap .binggrae_List ul li a em{

  color:rgb(255, 77, 0);
  font-weight: bold;
  font-style:normal;
  padding-right:5px;

}

.binggreae_bestWrap .binggrae_List ul li .list_title{

    font-size: 14px;
    color:#333;
}


.binggreae_bestWrap .binggrae_List ul li .list_price{

   font-size: 16px;
   color:#000;
   padding: 6px 0px;
   font-weight: bold;

}


.binggrae_banner{

  width:100%;
  height:300px;
  padding: 100px 0;
  margin:0 auto;
  overflow: hidden;

}


.binggrae_banner a{

  width:100%;
  height:100%;
  text-align: center;
  float:left;
  background-image: url(../img/binggrae_banner1.jpg);
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size: cover;
  background-color:  #e6bd00 ;

}


.binggrae_prd{
 
    width:100%;
    height:100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

.binggrae_prdTitle{

   padding:10px 0px;
   font-size: 2em;
   letter-spacing: -2px;
   font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif KR', serif;

  }

  .binggrae_prdList{

    width:100%;
    padding:10px 0px;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;

  }

  .binggrae_prdList ul{

    width:250px;
    height:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px 0px;

  }

  .binggrae_prdList ul li{

   margin:10px 0px;

  }

  .binggrae_prdList ul li a{

    cursor: pointer;

  }

  .binggrae_prdList ul li:nth-child(1){

    border:1px solid #eee;
    border-radius: 2em;

  }

  .binggrae_prdList ul li:nth-child(1):hover{

    background-color:#eaeaea;
    border:none;
    transform: translateY(-20px);
    transition: 0.3s;

  }

  .binggrae_prdList ul li img{

    width:200px;
    height:250px;

  }


  .binggrae_prdList ul li span{

    font-size:17px;

  }


.binggrae_video{

  width:100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;

}

.binggrae_brand{

  width:100%;
  height:100%;
  margin:0 auto;
  padding: 80px 0;

}

.binggrae_brand span{

 text-align: center;
 display: block;
 padding: 20px 0 50px;

}

.binggrae_brand .brand_list{

  width: 100%;
  height: 100%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap:wrap;

}

.binggrae_brand .brand_list ul{

  width:250px;
  height:200px;
  margin: 20px;
  border:1px solid #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.binggrae_brand .brand_list ul:hover{

  box-shadow: 3px 3px 15px #ccc;
}

.binggrae_brand .brand_list ul img{

  height:150px;
  

}

.biggrae_top{

  width:50px;
  height:50px;
  background-color: #ffc000;
  margin:0 auto;
  position:fixed;
  z-index:1;
  right:30px;
  bottom:50px;
  border-radius: 50%;


}

.biggrae_top a{

  display: block;
  text-align: center;
  line-height: 50px;
  color:#fff;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;

}

.mobile_login{

  display: none;
}

footer{

  width:100%;
  padding: 50px 0px;
  margin:0 auto;
  background-color: #353535;

}

.binggrae_footer{

 width:100%;
 height:100%;
 margin:0 auto;
 display: flex;
 flex-direction: column;
 
}

.binggrae_footer ul{

  padding: 30px 0px;
  font-size: 18px;
  display: flex;
  justify-content: center;

}

.binggrae_footer .footer_logo img{

  height:30px;

}

.binggrae_footer .footer_info{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;

}

.binggrae_footer .footer_info li{

  padding: 10px;
  

}

.binggrae_footer .footer_info li address{

  color:#f4f4f4;
  font-style:none;
  padding: 3px 0;

}

.binggrae_footer .footer_info li a{

  float:left;
  color:#eaeaea;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 0px;
  margin-right:10px;

}

.binggrae_footer .footer_info li a img{

  width: 20px;
  height: 20px;
  margin:10px;

}

.binggrae_footer .footer_info li span{

  color:#ccc;

}


/*반응형*/

@media screen and (max-width: 1080px) {

header{

  padding: 20px 0;
  justify-content: space-between;

}

.binggrae_category{

  display:none;

}

.mobile_menu{

  display: block;

}

nav {

  flex-wrap:wrap;
  justify-content: center;
  top: 20px;

}

nav ul{

margin:15px 0px;
text-align: center;

}

.mobile_category {

  display: block;

}

nav ul li a{

  font-size: 12px;

}

.mobile_login{

  position: fixed;
  right:30px;
  bottom:110px;
  width:50px;
  height:50px;
  display: block;
  background-color: #ccc;
  border-radius: 50%;
  float:left;
  z-index:1;


}

.mobile_login a{

  font-weight: normal;
  font-size: 13px;
  color:#333;
  text-align: center;
  line-height: 50px;
  display: block;


}

.binggrae_main{

  height: 500px;

}

#binggrae_searchCover{

  padding: 50px 0px 0px;

}

.binggrae_prdList {

 justify-content: center;
 flex-wrap:wrap;

}

.binggrae_prdTitle{

  font-size: 17px;

}



}